# NVidia TensorRT Support (amd64 only)
--extra-index-url 'https://pypi.nvidia.com'
numpy < 1.24; platform_machine == 'x86_64'
# tensorrt 8.6.3.1 included in image # tensorrt == 8.6.3.*; platform_machine == 'x86_64'
tensorflow == 2.16.1
cuda-python == 12.4; platform_machine == 'x86_64'
cython == 0.29.*; platform_machine == 'x86_64'
nvidia-cuda-runtime-cu12 == 12.4.*; platform_machine == 'x86_64'
nvidia-cublas-cu12 == 12.4.*; platform_machine == 'x86_64'
nvidia-cudnn-cu12 == 9.0.0.*; platform_machine == 'x86_64'
onnx==1.16.0; platform_machine == 'x86_64'
protobuf==3.20.3; platform_machine == 'x86_64'
ultralytics==8.1.47
onnxsim>=0.4.33
onnxruntime-gpu
